

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: red;
  min-height: 100vh;
  overflow-y: hidden;
}


.navbar {
  background: green;
  display: flex;
  align-items: center;
}

.navbar .logo {
  padding: 20px;
  width: 320px;
  flex-shrink: 0;
  outline: 1px solid rgb(0, 247, 255);

}

.otherside {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid yellow;
}

.btn {
  padding: 10px 20px;
  background-color: aqua;
  border-radius: 20px;
  outline: none;
  border: none;
}


.main {
  background-color: yellow;
  height: calc(100vh - 75px);
  display: flex;

  position: relative;
}

.sidebar {
  position: fixed;
  z-index: 1;
  background-color: white;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 91%;
  padding: 10px 20px;
  width: 320px;
}

.item {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: goldenrod;
  background-color: aqua;
  border-radius: 20px;
}

.board {
  position: absolute;
  /* left: 320px; */
  height: 100%;

  transition-property: left;
  transition-duration: 1s;


  background-color: goldenrod;
  width: 100%;
  padding: 10px 20px;
  color: white;

  overflow-x: scroll;
  display: flex;
  gap: 20px;

}

.board .col-content-wrapper {
  overflow: hidden;
  border-radius: 20px;
  height: 95%; 
}

.board .col .col-content {
  background-color: pink;
  border-radius: 20px;
  outline: 1px dotted yellow;

  overflow-y: scroll;
  height: 100%;
  width: 300px;
  padding: 20px;

  flex-shrink: 0;
}

.col .card {
  color: black;
  padding: 20px;
  min-height: 200px;
}


.full-board-width {
  left: 0px;
  transition-property: left;
  transition-duration: 1s;
}

.board-width {
  left: 320px;
  transition-property: left;
  transition-duration: 1s;
}

.sidebar-open {
  left: 0px;
  transition-property: left;
  transition-duration: 1s;
}

.sidebar-closed {
  left: -320px;
  transition-property: left;
  transition-duration: 1s;
}


.sidebar-footer {
  position: relative;
}

.sidebar-footer .show-btn{
  position: absolute;
  left: 200px;
}
